body {
    height: 100%;
    background-color: #f7f7f2;
}
.title {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 26pt;
    color: #3a3c5e;
    text-align: center;
}
.header {
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    height: 300px; /* adjust as needed */
}
#photo {
    height: 200px;
    margin-left: 16px;
}
#general-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* ---------- MOBILE ---------- */
@media (max-width: 1000px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    #photo {
        margin-bottom: 0.5rem;
    }

    #general-info {
        position: static;
        transform: none;
        white-space: normal;
    }
    #links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
.header-info {
    font-size: 12pt;
    text-align: center;
    color: black;
}
.section {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 22pt;
    color: #2d4357;
}

a { color: blue; text-decoration: none; } 
a:hover { text-decoration: underline; }

.c-button.orcid {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4pt;
    border-color: #A6CE39;
}
.c-button.scholar {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4pt;
    border-color: #3983fe;
}
.c-button.rg {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4pt;
    border-color: black;
}
.c-button.hal {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4pt;
    border-color: #411489;
}
.c-button.doi {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4pt;
    border-color: #DCB520;
}
.c-button.pdf {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4pt;
    border-color: #FF1B0E;
}
.c-button:hover {
    background: #FFF;
    color: #e08626;
    border-color: #e08626;
}

.logos {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0;
    width: 900px;
    text-align: center;
}
.logos img {
    display: inline; 
    margin: 0 5px;
}

footer {
    color: white;
    font-weight: bold;
    background: #3a3c5e;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

